.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  margin-top: 100px;
  padding-top: 10px;
  width :50%;
  height: 500px;
  background-color: rgb(89, 7, 7);
  background-image: url('https://media0.giphy.com/media/z1HdiobjzYIrm/giphy.gif?cid=ecf05e47f8pls0kw1zaehhzdzpki8x3wq8ixm5vdgxuxr1xl&ep=v1_gifs_search&rid=giphy.gif&ct=g');
  
}

body{

}